$bodyBgColor: rgba(198, 250, 252, 0.53);
$briefBgColor: #fff178;
$contentBgColor: #3b3b3b;
$hColor: #fccd10;
$thBgColor: #94a34e;
$formFontColor: #fccd10;
$tbBgColor: #677d01;
$buttonColor: #f5c70f;
$briefFontColor: #000000;
$labelColor: #808080;
$fontColor: #e0e0e0;
$uppercase: uppercase;
$float: none;
$widthBrief: 890px;
$marginBot: 35px;
$defaultMarginPaddingSide: 15px;

$width: 1px;
$inputwidth: 100%;