$bodyBgColor: #dcbb9a;
$briefBgColor: #fadcba;
$contentBgColor: #ffffff;
$hColor: #893c00;
$thBgColor: #e0e0e0;
$formFontColor: #808080;
$tbBgColor: #ffffff;
$buttonColor: #3d70a1;
$briefFontColor: #000000;
$labelColor: #808080;
$fontColor: #000000;
$uppercase: none;
$float: left;
$widthBrief: 370px;
$marginBot: 0px;
$defaultMarginPaddingSide: 15px;

$width: 1px;
$inputwidth: 100%;
